# Keeping this for reference. Use airstackignore.

# Patterns below are fed to go's filepath.match method.
# Nested directories must be specifically matched unlike .gitignore.
# https://golang.org/src/pkg/path/filepath/match_test.go

.git
.gitignore
.dockerignore
.airstackignore
.DS_Store
build/
_wip

# Do not include dot files and dirs in nested dirs
*/.*
*/*/.*
*/*/*/.*
*/*/*/*/.*
*/*/*/*/*/.*
*/*/*/*/*/*/.*
